{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacle=1">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  </head>
  <body class="bg-gray-100">
    {{ template "form" . }}
    {{ template "player-block" . }}
  </body>
</html>
{{ end }}


{{ block "form" . }}
<form hx-swap="outerHTML" hx-target="#player-list" hx-post="/users">
  <button type="submit">Refresh DB</button>
</form>
{{ end }}

{{ block "player-block" . }}
<div id="player-list" style="display: flex; flex-direction: column" ;>
  {{ range .Players }}
  <div>
    Name:
    <span>{{ .Username }}</span>
    Initials:
    <span>{{ .Initials }}</span>
  </div>
  {{ end }}
</div>
{{ end }}
